.burger {
  display: none;
  position: relative;
  z-index: 9;
  height: 26px;
  width: 48px;
  cursor: pointer;
  overflow-x: hidden;
  span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 33px;
    height: 3px;
    border-radius: 50px;
    background: #01996d;
    transition: all 0.3s ease 0s;
    &:first-child {
      top: 0;
    }
    &:last-child {
      top: auto;
      bottom: 0;
    }
  }
  &._active {
    span {
      transform: scale(0);
      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}