@media (max-width: 1300px) {
  body main {
    h4 {
      padding-bottom: 20px;
      font-size: 22px;
    }
    .how-it-works {
      margin-top: 80px;
      .how-it-works__top {
        h4 {
          text-align: center;
        }
        &-group {
          flex-direction: column;
          text-align: center;
        }
        &-headline {
          max-width: 678px;
        }
        &-text {
          padding-left: 0;
          padding-top: 30px;
          max-width: 678px;
        }
      }
      .how-it-works__columns {
        padding-top: 90px;
        .how-it-works__item {
          max-width: 350px;
        }
        .how-it-works__item:nth-child(2) {
          padding-top: 129px;
        }
        .how-it-works__item-caption {
          padding-bottom: 27px;
        }
        .how-it-works__item-caption::before {
          font-size: 100px;
          top: -55px;
        }
      }
    }
    .results-alivio {
      padding: 62px 0;
    }
    .product__card {
      .card {
        padding: 14px 0 21px 0;
        width: 230.14px;
      }
    }
  }
}
@media (max-width: 1200px) {
  body main {
    h3 {
      font-size: 40px;
    }
    .how-it-works {
      .how-it-works__columns {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .how-it-works__item {
          max-width: 500px;
          text-align: center;
        }
        .how-it-works__item:nth-child(3) {
          padding-top: 129px;
        }
      }
    }
    .results-alivio {
      margin-top: 80px;
      .results-alivio__row {
        flex-direction: column-reverse;
        max-width: 680px;
    margin: 0 auto;
    text-align: center;
      }
      .results-alivio__content {
        padding-top: 50px;
        &-headline + * {
          margin-top: 15px;
        }
        &-text {
          font-size: 20px;
        }
        &-text + * {
          margin-top: 34px;
        }
      }
    }
    .product {
      padding: 40px 0 40px 0;
      .product__row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        .product__block {
          padding-top: 50px;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .header__top-inner .nav__list li + li {
    padding-left: 45px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 17px;
    line-height: 25px;
    .btn {
      width: 200px;
      height: 50px;
      line-height: 50px;
      font-size: 17px;
    }
    .header__top-inner {
      .logo{
        z-index: 9;
      }
      .burger {
        display: block;
      }
      .nav {
        position: fixed;
        top: -400px;
        left: 0;
        z-index: 8;
        width: 100%;
        box-shadow: 0px 1px 10px 7px rgba(71, 71, 71, 0.2);
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 76px 15px;
        text-align: center;
        .nav__list {
          display: flex;
          flex-direction: column;
          font-size: 22px;
          .nav__list-item + .nav__list-item {
            padding: 0;
            margin-top: 20px;
          }
        }
      }
      ._active {
        top: 0;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }
    }
    .header__top .header__top-inner .login {
      display: none;
    }
    .header .header__banner {
      height: 600px;
      &-title{
        max-width: 390px;
      }
      &-bg {
        opacity: 0.6;
      }
      &-content {
        padding: 100px 0;
      }
      &-deskription {
        max-width: 320px;
      }
    }
    .results-alivio__content-headline {
      text-align: center;
    }
  }
  footer {
    padding: 60px 0 40px 0;
    .footer__nav {
      font-size: 20px;
      line-height: 6px;
    }
  }
}
@media (max-width: 600px) {
  body {
    .header {
      .header__banner {
        height: 463px;
      }
      .header__banner-content {
        padding: 40px 0;
      }
    }
    main {
      h3 {
        font-size: 25px;
      }
      .how-it-works {
        margin-top: 40px;
        .how-it-works__columns {
          .how-it-works__item-caption::before {
            top: -41px;
            font-size: 80px;
          }
        }
      }
      .product__block {
        margin-right: 0;
        padding-left: 0;
        padding-bottom: 0;
        .product__card .card {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  body main {
    .how-it-works {
      .how-it-works__columns {
        .how-it-works__item:nth-child(2) {
          padding-top: 90px;
        }
        .how-it-works__item:nth-child(3) {
          padding-top: 90px;
        }
      }
    }
  }
}
