@import "_reset.scss";
$theme-color: #01996d;
$bg-color: #245852;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.container {
  width: 100%;
  max-width: 1370px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
.btn {
  width: 227px;
  height: 65px;
  border-radius: 4px;
  background: $theme-color;
  text-align: center;
  a {
    color: #ffffff;
    line-height: 65px;
    font-weight: 400;
    font-size: 20px;
  }
}
.btn:hover {
  opacity: 0.9;
}
.deskription {
  line-height: 31.4px;
  color: #484848;
}
// используетмя в секции Our product
h1,
h2 {
  font-family: "Georgia", sans-serif;
  font-weight: 700;
  color: $theme-color;
}
h2{
  font-size: 50px;
  line-height: 78.5px;
}
h3{
  font-family: "Georgia", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
h4{
  font-weight: 600;
  font-size: 24px;
  line-height: 37.68px;
  color: #424242;
}
.header {
  &__top {
    border-bottom: 1px solid #d6d6d6;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      .nav {
        &__list {
          display: flex;
          color: #292929;
          line-height: 24px;
          font-weight: 500;
          transition: color 0.2s ease;
          li + li {
            padding-left: 70px;
          }
          a {
            position: relative;
          }
          a::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: -5px;
            width: 0%;
            height: 2px;
            background: $theme-color;
            transition: 0.2s;
          }
          a:hover {
            color: $theme-color;
          }
          a:hover::before {
            width: 100%;
            left: 0;
          }
        }
      }
      .login {
        display: flex;
        align-items: center;
        &__enter {
          color: #000000;
        }
        &__enter:hover {
          color: $theme-color;
        }
        &__registration {
          width: 183px;
          height: 51px;
          a {
            line-height: 51px;
          }
        }
        &__registration:hover {
          opacity: 0.9;
        }
      }
      .login > * + * {
        margin-left: 35px;
      }
    }
  }
  &__banner {
    height: 895px;
    background-image: url("../img/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-content {
      max-width: 440px;
      padding: 175px 0;
    }
    &-title {
      font-size: 65px;
      line-height: 73.85px;
    }
    &-title + * {
      margin-top: 30px;
    }
    &-deskription {
      max-width: 420px;
    }
    &-deskription + * {
      margin-top: 54px;
    }
 
  }
}
main{
  .how-it-works {
    margin-top: 156px;
    &__top {
      &-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-headline {
        max-width: 584px;
      }
      &-text {
        max-width: 671px;
        padding-left: 30px;
      }
    }
    &__columns {
      padding-top: 187px;
      display: flex;
      justify-content: space-between;
    }
    &__item {
      max-width: 392px;
      &-headline {
        text-align: center;
        padding-bottom: 55px;
        position: relative;
        padding-left: 15px;
      }
      &-headline::before{
        content: attr(data-number);
        position: absolute;
        left: 0;
        top: -40px;
        font-size: 150px;
        font-weight: 400;
        color: $theme-color;
        opacity: 0.2;
      }
      &-text {
        padding-bottom: 37px ;
      }
      &-picture {
        border-radius: 12px;
      }
    }
    &__item:nth-child(2){
      padding-top: 287px;
    }
    &__item:nth-child(3){
      padding-top: 54px;
    }
  }
}
 
